@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,400&display=swap");
body {
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  background-color: #f4f4f4;
  color: #666666;
}
body button {
  transition: 0.3s ease;
}
body button:hover {
  background-color: #76cdd8;
  transition: 0.3s;
}
body h1 {
  font-size: 52px;
  font-weight: 300;
  color: white;
  padding-top: 80px;
}
body h2 {
  color: #76cdd8;
  font-weight: 300;
  font-size: 26px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.firstly {
  box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
  text-align: center;
  font-size: 16px;
}
.firstly .italixtext {
  font-style: italic;
  width: 80%;
  text-align: left;
  font-size: 17px;
}
.firstly .textic {
  font-style: italic;
}
.firstly p {
  line-height: 24px;
  width: 85%;
  text-align: left;
  font-size: 17px;
  margin: 0 auto;
  font-weight: 300;
}
.firstly h3 {
  font-size: 22px;
  color: #666666;
  font-weight: 300;
}
.firstly .button1 {
  background-color: #169999;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  width: 140px;
  height: 40px;
  margin-left: 250px;
  transition: 0.3s ease;
}
.firstly .button1:hover {
  background-color: #76cdd8;
  transition: 0.3s;
}
.firstly .first {
  display: flex;
}
.firstly .first__element {
  background-color: #76cdd8;
  width: 50%;
  height: 300px;
  align-items: center;
  color: black;
  transition: 0.3s ease;
}
.firstly .first__element:hover {
  color: #76cdd8;
  transition: 0.3s;
}
.firstly .first__element .colorwhite {
  color: white;
  font-size: 16px;
}
.firstly .first__element .imagegame {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.firstly .first .whiteelement {
  background-color: #ffffff;
}
.firstly .first .firstphoto {
  background: url("../img/image-01.jpg") no-repeat;
  transition: 0.3s ease;
}
.firstly .first .firstphoto:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.epicgames {
  color: white;
  padding-left: 100px;
  padding-top: 20px;
}

.image01c {
  width: 100%;
  height: 100%;
}

.button2 {
  background-color: #169999;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  width: 140px;
  height: 40px;
  margin-left: 20px;
  margin-top: 30px;
}

.first__element:hover {
  color: #76cdd8;
  background-color: #76cdd8;
}

.second {
  display: flex;
  box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
  margin-top: 20px;
}
.second img {
  width: 300px;
  height: 550px;
  transition: 0.3s ease;
}
.second img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.second__block {
  text-align: left;
}
.second__block h2 {
  margin-top: 60px;
  margin-left: 70px;
}
.second__block p {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}
.second__block button {
  background-color: #169999;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  width: 140px;
  height: 40px;
  margin-left: 500px;
  margin-top: 40px;
}
.second__block button:hover {
  background-color: #76cdd8;
  transition: 0.3s;
}

.third {
  display: flex;
  box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
  margin-top: 20px;
}
.third img {
  width: 300px;
  transition: 0.3s ease;
}
.third img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.third .cards {
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  height: 400px;
}
.third .cards .title {
  background-color: #169999;
  border: 1px solid #169999;
  color: white;
  font-weight: 300;
  margin-left: -50px;
  margin-right: -50px;
  text-align: center;
  line-height: 10px;
}
.third .cards .title__header {
  font-size: 22px;
}
.third .cards__first {
  border: 1px solid #179f9f;
  margin-right: 25px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.3s;
}
.third .cards__first:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transition: 0.3s;
}
.third .cards__second {
  border: 1px solid #169999;
  margin-left: 25px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.3s;
}
.third .cards__second:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transition: 0.3s;
}
.third .cards__second .spdisc {
  visibility: hidden;
}
.third .cards__second .spdisc:hover {
  visibility: visible;
}
.third .cards ul {
  margin-top: 20px;
}
.third .cards li {
  list-style-type: none;
  line-height: 30px;
  margin-left: -50px;
}
.third button {
  background-color: #169999;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  width: 140px;
  height: 40px;
  margin-left: 20px;
  margin-top: 40px;
}

.block {
  box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
  margin-top: 20px;
  background-color: #23d4d4;
  height: 100px;
  z-index: 1;
}
.block p {
  font-size: 24px;
  color: white;
  margin-left: 140px;
  padding-top: 25px;
}

.form {
  z-index: 2;
  position: relative;
  top: -30px;
  left: 140px;
  box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
  width: 70%;
  height: 350px;
  background-color: #fff;
}
.form textarea {
  margin-left: 10px;
  height: 70%;
}
.form__fields {
  width: 50%;
}
.form__container {
  display: flex;
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
}
.form input {
  display: block;
  width: 90%;
  margin-bottom: 15px;
  border-radius: 0;
  height: 30px;
  color: #666;
}
.form input:last-child {
  margin-bottom: 0;
}
.form select {
  color: #666;
  display: block;
  width: 93%;
  margin-bottom: 15px;
  border-radius: 0;
  height: 40px;
}
.form select:last-child {
  margin-bottom: 0;
}
.form button {
  margin-left: 40%;
}

.footerino {
  display: flex;
  background-color: #169999;
  box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
  justify-content: center;
  height: 150px;
  align-items: center;
}
.footerino__1 {
  padding-right: 240px;
  color: white;
  font-weight: 100;
}
.footerino__2 {
  margin-left: -40px;
  color: white;
  font-weight: 100;
  line-height: 25px;
}

.ultrafooterino {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
