.header-wrap {
  max-width: 1100px;
  height: 100%;
  width: 100%;
  margin: 0 auto; }

.container {
  max-width: 1100px;
  height: 100%;
  width: 100%;
  margin: 0 auto; }

.awesome {
  background-color: #19a0c7;
  background-size: cover; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: none; }

.header {
  padding-top: 10px;
  background-image: url("../img/m-h-day.jpg");
  background-position: center center;
  background-size: cover;
  padding-bottom: 155px;
  border-bottom-right-radius: 110px; }

.landing-logo {
  display: flex; }
  .landing-logo img {
    max-width: 45px;
    max-height: 45px;
    width: 100%;
    height: 100%;
    margin-top: 10px; }
  .landing-logo p {
    margin-left: 20px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    color: #2c2f3c; }
    .landing-logo p span {
      font-weight: normal; }

.header_text {
  max-width: 700px;
  width: 100%;
  font-size: 11;
  font-family: "Source Sans Pro", sans-serif;
  color: #2c2f3c;
  font-weight: 300; }

.header_heading {
  font-family: "Source Sans Pro", sans-serif;
  color: #2c2f3c;
  line-height: 70px;
  font-weight: 800;
  font-size: 64px; }

.under_head {
  padding-top: 50px; }
  .under_head button {
    font-family: "Source Sans Pro", sans-serif;
    width: 130px;
    font-size: 18px;
    border: none;
    height: 45px;
    background-color: #69991a;
    color: white; }
  .under_head a {
    color: white;
    margin-left: 95px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px; }

.section_text {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: black; }

.section_card {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #21232e;
  color: #9eb2be;
  margin-bottom: 30px;
  max-width: 850px;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%; }
  .section_card_text {
    display: block;
    max-width: 440px;
    text-align-last: left; }
  .section_card_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 22px; }
  .section_card_right_container {
    text-align: center;
    margin-left: 85px;
    max-width: 700px; }
    .section_card_right_container a {
      color: #b9c0cd; }

.footer {
  margin-top: 200px;
  background-color: #21232e;
  color: #9eb2be;
  font-family: "Source Sans Pro", sans-serif;
  padding-top: 100px;
  padding-bottom: 80px; }
  .footer_logo p {
    color: #9eb2be;
    font-family: "Source Sans Pro", sans-serif; }
  .footer_text {
    max-width: 33%; }
  .footer-wrap {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    height: 100%;
    width: 100%;
    margin: 0 auto; }

.section_banner {
  position: absolute;
  top: 258%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 65%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  align-items: center;
  background-image: linear-gradient(to right, #639318, #2f5dcf);
  border-radius: 6px; }
  .section_banner_heading {
    font-size: 24px;
    font-weight: 700;
    color: #2c2f3c;
    padding-top: 30px; }
  .section_banner_text {
    color: #9eb2be;
    padding-bottom: 30px; }
  .section_banner p {
    margin-left: 100px; }
  .section_banner button {
    font-family: "Source Sans Pro", sans-serif;
    width: 130px;
    font-size: 18px;
    border: none;
    height: 45px;
    background-color: #69991a;
    color: white;
    margin-right: 10%; }
