@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300;1,400&display=swap");

body {
    button {
        transition: 0.3s ease;
        &:hover {
            background-color: rgb(118, 205, 216);
            transition: 0.3s;
        }
    }
    margin-top: 15px;
    font-family: "Open Sans", sans-serif;
    background-color: #f4f4f4;
    color: #666666;
    h1 {
        font-size: 52px;
        font-weight: 300;
        color: white;
        padding-top: 80px;
    }

    h2 {
        color: #76cdd8;
        font-weight: 300;
        font-size: 26px;
    }
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.firstly {
    box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
    text-align: center;
    font-size: 16px;
    .italixtext {
        font-style: italic;
        width: 80%;
        text-align: left;
        font-size: 17px;
    }
    .textic {
        font-style: italic;
    }
    p {
        line-height: 24px;
        width: 85%;
        text-align: left;
        font-size: 17px;
        margin: 0 auto;
        font-weight: 300;
    }

    h3 {
        font-size: 22px;
        color: #666666;
        font-weight: 300;
    }
    .button1 {
        background-color: #169999;
        color: white;
        border: none;
        text-transform: uppercase;
        font-size: 12px;
        width: 140px;
        height: 40px;
        margin-left: 250px;
        //margin-top: 10px;
        transition: 0.3s ease;
        &:hover {
            background-color: rgb(118, 205, 216);
            transition: 0.3s;
        }
    }
    .first {
        display: flex;
        &__element {
            background-color: #76cdd8;
            width: 50%;
            height: 300px;
            align-items: center;
            color: black;
            transition: 0.3s ease;
            &:hover {
                color: #76cdd8;
                transition: 0.3s;
            }

            .colorwhite {
                color: white;
                font-size: 16px;
            }
            .imagegame {
                margin-top: 25px;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                //overflow: hidden;
            }
        }

        .whiteelement {
            background-color: #ffffff;
        }
        .firstphoto {
            background: url("../img/image-01.jpg") cover no-repeat;
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s;
            }
        }
    }
}

.epicgames {
    color: white;
    padding-left: 100px;
    padding-top: 20px;
}

.image01c {
    width: 100%;
    height: 100%;
}

.button2 {
    background-color: #169999;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    width: 140px;
    height: 40px;
    margin-left: 20px;
    margin-top: 30px;
}

.first__element:hover {
    color: #76cdd8;
    background-color: #76cdd8;
}

.second {
    display: flex;
    box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
    margin-top: 20px;
    img {
        width: 300px;
        height: 550px;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s;
        }
    }
    &__block {
        text-align: left;
        h2 {
            margin-top: 60px;
            margin-left: 70px;
        }
        p {
            max-width: 80%;
            width: 100%;
            margin: 0 auto;
        }
        button {
            background-color: #169999;
            color: white;
            border: none;
            text-transform: uppercase;
            font-size: 12px;
            width: 140px;
            height: 40px;
            margin-left: 500px;
            margin-top: 40px;
            &:hover {
                background-color: rgb(118, 205, 216);
                transition: 0.3s;
            }
        }
    }
}

.third {
    display: flex;
    box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
    margin-top: 20px;
    img {
        width: 300px;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s;
        }
    }
    .cards {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        height: 400px;

        .title {
            background-color: #169999;
            border: 1px solid #169999;
            color: white;
            font-weight: 300;
            margin-left: -50px;
            margin-right: -50px;
            text-align: center;
            line-height: 10px;
            &__header {
                font-size: 22px;
            }
        }
        &__first {
            border: 1px solid #179f9f;
            margin-right: 25px;
            padding-left: 50px;
            padding-right: 50px;
            transition: 0.3s;
            &:hover {
                box-shadow: 0 0 0 0.2rem #24d4d4;
                transition: 0.3s;
            }
        }
        &__second {
            border: 1px solid #169999;
            margin-left: 25px;
            padding-left: 50px;
            padding-right: 50px;
            transition: 0.3s;
            &:hover {
                box-shadow: 0 0 0 0.2rem #24d4d4;
                transition: 0.3s;
            }
            .spdisc {
                visibility: hidden;
                &:hover {
                    visibility: visible;
                }
            }
        }
        ul {
            margin-top: 20px;
        }
        li {
            list-style-type: none;
            line-height: 30px;
            margin-left: -50px;
        }
    }
    button {
        background-color: #169999;
        color: white;
        border: none;
        text-transform: uppercase;
        font-size: 12px;
        width: 140px;
        height: 40px;
        margin-left: 20px;
        margin-top: 40px;
    }
}

.block {
    box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
    margin-top: 20px;
    background-color: #23d4d4;
    height: 100px;
    z-index: 1;
    p {
        font-size: 24px;
        color: white;
        margin-left: 140px;
        padding-top: 25px;
    }
}

.form {
    z-index: 2;
    position: relative;
    top: -30px;
    left: 140px;
    box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
    width: 70%;
    height: 350px;
    background-color: #fff;
    textarea {
        margin-left: 10px;
        height: 70%;
    }
    &__fields {
        width: 50%;
    }
    &__area {
    }
    &__container {
        display: flex;

        width: 80%;
        margin-left: 10%;
        padding-top: 5%;
    }
    input {
        display: block;
        width: 90%;
        margin-bottom: 15px;
        border-radius: 0;
        height: 30px;
        color: #666;

        &:last-child {
            margin-bottom: 0;
        }
    }
    select {
        color: #666;
        display: block;
        width: 93%;
        margin-bottom: 15px;
        border-radius: 0;
        height: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    button {
        margin-left: 40%;
    }
}

.footerino {
    display: flex;
    background-color: #169999;
    box-shadow: 0px 0px 15px 5px rgba(34, 60, 80, 0.2);
    justify-content: center;
    height: 150px;
    align-items: center;
    &__1 {
        padding-right: 240px;
        color: white;
        font-weight: 100;
    }
    &__2 {
        margin-left: -40px;
        color: white;
        font-weight: 100;
        line-height: 25px;
    }
}

.ultrafooterino {
    text-align: center;
}
