@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

.header__fixed {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  animation-name: show_header;
  animation-duration: 0.1s;
  background-color: #2d2f6c;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.header {
  background-image: url("../img/header-bg.jpg");
  height: 672px;
}
.header__text {
  margin-top: 100px;
  text-align: center;
}
.header__text h1 {
  color: white;
  font-size: 64px;
  font-weight: 600;
}
.header__text h2 {
  font-size: 28px;
  color: white;
  font-weight: 500;
}
.header__boss {
  padding-top: 35px;
  padding-bottom: 35px;
}
.header .header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__items ul {
  display: flex;
}
.header .header__items ul li {
  margin-right: 65px;
}
.header .header__items ul li:last-child {
  margin-right: 0;
}
.header .header__items ul li a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.block__text {
  margin-top: 60px;
  text-align: center;
}
.block__text h2 {
  color: black;
  font-size: 50px;
  font-weight: 600;
}
.block__text h3 {
  color: #787878;
  font-size: 28px;
}
.block__text .block__border {
  width: 70px;
  height: 3px;
  background-color: #4a4a4a;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 85px;
}
.block__cards {
  margin: 0 auto;
  text-align: center;
  display: flex;
}
.block__cards-item h2 {
  font-size: 30px;
  color: #787878;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 25px;
}
.block__cards-item p {
  text-align: left;
  color: #787878;
  width: 93%;
  font-weight: 300;
}
.block .button1 {
  text-align: center;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  width: 300px;
  height: 45px;
  border-radius: 20px;
  margin-left: 390px;
  margin-top: 80px;
  margin-bottom: 70px;
  background: linear-gradient(180deg, #5e3f7a, #4a50a8);
}

.works__bg {
  background-color: #ebebeb;
  padding-bottom: 85px;
}

.works {
  text-align: center;
}
.works h3 {
  color: #787878;
  font-size: 28px;
  padding-top: 85px;
}
.works .block__border {
  width: 40px;
  height: 3px;
  background-color: #4a4a4a;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.works__columns {
  display: flex;
}
.works__columns-one img {
  width: 350px;
  height: 350px;
  margin-top: 40px;
  margin-right: 40px;
}
.works__columns-two img {
  margin-top: 40px;
  margin-right: 40px;
}
.works__columns-two img:first-child {
  width: 350px;
  height: 350px;
}
.works__columns-two img:last-child {
  width: 350px;
  height: 740px;
}
.works__columns-three img {
  margin-top: 40px;
  margin-right: 40px;
}
.works__columns-three img:first-child {
  width: 350px;
  height: 740px;
}
.works__columns-three img:last-child {
  width: 350px;
  height: 350px;
}

.references h3 {
  text-align: center;
  color: #787878;
  font-size: 28px;
  padding-top: 85px;
}
.references .block__border {
  width: 110px;
  height: 3px;
  background-color: #4a4a4a;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.references__circle {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.references__circles {
  margin-right: 8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #62436f;
}
.references__circles:last-child {
  margin-right: 0;
}
.references__info {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.references__info-img {
  background: url("../img/references-image-bg.png") no-repeat;
  background-position-y: 200px;
  background-size: 50%;
}
.references__info-img img {
  width: 350px;
  height: 350px;
  margin-bottom: 30px;
  margin-left: 30px;
}
.references__info-text {
  margin-left: 70px;
}
.references__info-text h2 {
  font-size: 40px;
}
.references__info-text p {
  width: 80%;
  color: #787878;
  font-weight: 300;
}

.references__circless {
  margin-right: 8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c0b4c5;
}

.contact__form {
  margin-top: 120px;
  background-color: #000000;
  color: white;
}
.contact__form h3 {
  text-align: center;
  color: white;
  font-size: 28px;
  padding-top: 130px;
}
.contact__form input {
  width: 95%;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
}
.contact__form .block__border {
  width: 64px;
  height: 3px;
  background-color: #4a4a4a;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contact__form .textik {
  line-height: 55px;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact__form .textik input {
  width: 47%;
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
}
.contact__form .message__top {
  margin-top: 40px;
  line-height: 55px;
}

input:focus {
  border: 1px solid white;
  border-radius: 15px;
  animation-duration: 0.3s;
  color: white;
}

input:active {
  color: white;
}

form .knopka {
  display: flex;
  justify-content: center;
  align-items: center;
}
form .knopka button {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 95px;
  width: 180px;
  height: 60px;
  color: white;
  background-color: #202020;
  animation-duration: 1s;
}
form .knopka button:hover {
  background-color: transparent;
  border: 1px solid white;
  animation-duration: 1s;
}

footer {
  background-image: url("../img/footer-bg.jpg");
}
footer .foot {
  color: white;
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot__itemss::before {
  content: " ";
  background: url("../img/footer-mail-icon.png") no-repeat;
  position: absolute;
  height: 40px;
  width: 30px;
  margin-left: -40px;
}
footer .foot__itemse::before {
  content: " ";
  background: url("../img/footer-phone-icon.png") no-repeat;
  position: absolute;
  height: 40px;
  width: 30px;
  margin-left: -40px;
}
footer .foot__items img {
  margin-right: 25px;
}
footer .foot__items img:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
