@import "../css/nuclear.scss";

.header__fixed {
    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation-name: show_header;
    animation-duration: 0.1s;
    background-color: #2d2f6c;
}
@keyframes show_header {
    0% {
        opacity: 0;
        top: 100px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.header {
    background-image: url("../img/header-bg.jpg");
    height: 672px;

    &__text {
        margin-top: 100px;
        text-align: center;
        h1 {
            color: white;
            font-size: 64px;
            font-weight: 600;
        }
        h2 {
            font-size: 28px;
            color: white;
            font-weight: 500;
        }
    }
    &__boss {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .header__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            li {
                margin-right: 65px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: white;
                    font-size: 16 px;
                    font-weight: 500;
                }
            }
        }
    }
}

.block {
    &__text {
        margin-top: 60px;
        text-align: center;
        h2 {
            color: black;
            font-size: 50px;
            font-weight: 600;
        }
        h3 {
            color: #787878;
            font-size: 28px;
        }
        .block__border {
            width: 70px;
            height: 3px;
            background-color: #4a4a4a;
            margin: 0 auto;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 85px;
        }
    }
    &__cards {
        margin: 0 auto;
        text-align: center;
        display: flex;
        &-item {
            h2 {
                font-size: 30px;
                color: #787878;
                font-weight: 500;
                margin-top: 30px;
                margin-bottom: 25px;
            }
            p {
                text-align: left;
                color: #787878;
                width: 93%;
                font-weight: 300;
            }
        }
    }
    .button1 {
        text-align: center;
        color: white;
        margin: 0 auto;
        text-transform: uppercase;
        width: 300px;
        height: 45px;
        border-radius: 20px;
        margin-left: 390px;
        margin-top: 80px;
        margin-bottom: 70px;
        background: linear-gradient(180deg, rgb(94, 63, 122), rgb(74, 80, 168));
    }
}

.works__bg {
    background-color: #ebebeb;
    padding-bottom: 85px;
}
.works {
    text-align: center;
    h3 {
        color: #787878;
        font-size: 28px;
        padding-top: 85px;
    }
    .block__border {
        width: 40px;
        height: 3px;
        background-color: #4a4a4a;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__columns {
        display: flex;
        &-one {
            img {
                width: 350px;
                height: 350px;
                margin-top: 40px;
                margin-right: 40px;
            }
        }
        &-two {
            img {
                margin-top: 40px;
                margin-right: 40px;
                &:first-child {
                    width: 350px;
                    height: 350px;
                }
                &:last-child {
                    width: 350px;
                    height: 740px;
                }
            }
        }
        &-three {
            img {
                margin-top: 40px;
                margin-right: 40px;
                &:first-child {
                    width: 350px;
                    height: 740px;
                }
                &:last-child {
                    width: 350px;
                    height: 350px;
                }
            }
        }
    }
}

.references {
    h3 {
        text-align: center;
        color: #787878;
        font-size: 28px;
        padding-top: 85px;
    }
    .block__border {
        width: 110px;
        height: 3px;
        background-color: #4a4a4a;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__circle {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        &s {
            margin-right: 8px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: #62436f;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__info {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-img {
            img {
                width: 350px;
                height: 350px;
                margin-bottom: 30px;
                margin-left: 30px;
            }
            background: url("../img/references-image-bg.png") no-repeat;
            background-position-y: 200px;
            background-size: 50%;
        }
        &-text {
            h2 {
                font-size: 40px;
            }
            margin-left: 70px;
            p {
                width: 80%;
                color: #787878;
                font-weight: 300;
            }
        }
    }
}
.references__circless {
    margin-right: 8px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #c0b4c5;
}

.contact__form {
    margin-top: 120px;
    background-color: #000000;
    color: white;
    h3 {
        text-align: center;
        color: white;
        font-size: 28px;
        padding-top: 130px;
    }
    input {
        width: 95%;
        background-color: black;
        border: none;
        border-bottom: 1px solid white;
    }
    .block__border {
        width: 64px;
        height: 3px;
        background-color: #4a4a4a;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .textik {
        line-height: 55px;
        margin-top: 55px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input {
            width: 47%;
            background-color: black;
            border: none;
            border-bottom: 1px solid white;
        }
    }
    .message__top {
        margin-top: 40px;
        line-height: 55px;
    }
}

input:focus {
    border: 1px solid white;
    border-radius: 15px;
    animation-duration: 0.3s;
    color: white;
}
input:active {
    color: white;
}

form {
    .knopka {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            text-transform: uppercase;
            margin-top: 50px;
            margin-bottom: 95px;
            width: 180px;
            height: 60px;
            color: white;
            background-color: #202020;
            animation-duration: 1s;
            &:hover {
                background-color: transparent;
                border: 1px solid white;
                animation-duration: 1s;
            }
        }
    }
}

footer {
    background-image: url("../img/footer-bg.jpg");
    .foot {
        color: white;
        padding-top: 55px;
        padding-bottom: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__itemss::before {
            content: " ";
            background: url("../img/footer-mail-icon.png") no-repeat;
            position: absolute;
            height: 40px;
            width: 30px;
            margin-left: -40px;
        }
        &__itemse::before {
            content: " ";
            background: url("../img/footer-phone-icon.png") no-repeat;
            position: absolute;
            height: 40px;
            width: 30px;
            margin-left: -40px;
        }
        &__items {
            img {
                margin-right: 25px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
