/*

write your code here

*/
@media print {
    nav.tm-main-nav,
    ul.boxes,
    ul.gallery-container,
    section.box,
    ol.carousel-indicators,
    div.tm-team-img,
    img.img-contact-us,
    form.contact-form,
    #contact .tm-section-title {
        display: none;
    }
    .tm-banner-inner {
        /* margin-top: -100px; */
        overflow: auto;
        z-index: 0;
    }

    .tm-team-description-container {
        text-align: center;
        max-width: 820px;
        width: 100%;
    }

    #heading li::before {
        display: none;
    }

    .padding-medium .tm-section-title {
        text-align: center;
        margin-top: -40px;
        height: 30px;
    }

    .padding-medium ol {
        list-style-type: none;
        text-align: center;
        list-style-position: inside;
        -moz-column-count: 2; /* Firefox */
        -webkit-column-count: 2; /* Safari and Chrome */
        column-count: 2;
    }
    .padding-medium ol li {
        padding-bottom: 12px;
    }
    .tm-content-box .padding-medium {
        margin-bottom: -20px;
    }
    .padding-medium ol li:last-child {
        padding-bottom: 0;
    }

    .tm-main-content {
        margin-top: -100px;
    }

    .tm-content-box {
        margin-top: -40px;
        /* padding-top: -20px; */
        /* padding-bottom: -40px; */
    }
    .tm-content-header {
        margin-top: -30px;
    }

    .tm-banner-inner {
        margin-top: -20px;
    }

    .blocks .tm-team-description-container {
        margin-top: -30px;
    }

    .carousel-inner {
        margin-top: -36px;
        margin-bottom: -60px;
    }
}

.tm-sidebar nav ul li :hover {
    background-color: lightskyblue;
    color: white;
    transition: 0.6s;
}
.tm-sidebar {
    box-shadow: rgba(61, 55, 61, 0.7) 0px 0px 10px;
}
.tm-banner {
    background-image: linear-gradient(burlywood, lightskyblue);
}

.tm-banner-inner {
    background-color: white;
}

.tm-banner-text {
    text-shadow: 0px 5px 1px lightskyblue;
    animation: spin 3s linear 1;
}
@keyframes spin {
    from {
        transform: rotate(45deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.tm-content-header {
    box-shadow: rgba(61, 55, 61, 0.7) 0px 0px 10px;
}

.tm-content-box {
    box-shadow: rgba(61, 55, 61, 0.7) 0px 0px 10px;
}

.flex-2-col {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.box-bg:hover {
    background-color: #00bfff;
    transition: 0.6s;
}

.heading .padding-medium ol {
    list-style-type: decimal-leading-zero;
}

.heading .padding-medium ol li a:hover {
    color: red;
}

.heading .padding-medium ol li a:hover::before {
    content: ">";
}

sup {
    color: red;
    font-weight: 200;
}

.tm-section-description {
    text-indent: 20px;
    font-style: italic;
    line-height: 24px;
}

.tm-content-box ul li:nth-child(even) {
    color: white;
    background-color: #00bfff;
}

.tm-content-box ul li {
    font-weight: 300;
}

.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #00bfff;
}

.form-control:focus {
    background-color: #87cefa;
}

.submit-btn:hover {
    background-color: #1ab3ac;
    color: white;
    border-radius: 0;
    border: none;
    width: 100px;
    height: 45px;
    transition: 0.4s;
}
