.header {
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    margin-bottom: 40px;
}

.container {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
}

.days {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    span:first-child {
        margin-left: 35px;
    }
    span:last-child {
        margin-right: 40px;
    }
    span:nth-child(2) {
        margin-left: 10px;
    }
    span:nth-child(3) {
        margin-left: 10px;
    }
    span:nth-child(5) {
        margin-right: 10px;
    }
    span:nth-child(6) {
        margin-right: 10px;
    }
}

.numbers {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(5, auto);
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(190, 190, 190);
        height: 100px;
        margin-right: 10px;
        margin-bottom: 10px;
        background-color: rgb(214, 214, 214);
    }
    .whitebg {
        background-color: #fff;
    }
}
