// Write your styles here
.header-wrap {
    max-width: 1100px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1100px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.awesome {
    background-color: $awesome;
    background-size: cover;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: $bgcolor;
}

.header {
    padding-top: 10px;
    background-image: $bgImg;
    background-position: center center;
    background-size: cover;
    padding-bottom: 155px;
    border-bottom-right-radius: 110px;
}

.landing-logo {
    display: flex;
    img {
        max-width: 45px;
        max-height: 45px;
        width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    p {
        margin-left: 20px;
        font-weight: 600;
        font-family: $headerFont;
        color: $headerColor;
        span {
            font-weight: normal;
        }
    }
}
.header_text {
    max-width: 700px;
    width: 100%;
    font-size: 11;
    font-family: $headerFont;
    color: $headerColor;
    font-weight: 300;
}
.header_heading {
    font-family: $headerFont2;
    color: $headerColor;
    line-height: 70px;
    font-weight: 800;
    font-size: 64px;
}

.under_head {
    padding-top: 50px;
    button {
        font-family: $headerFont;
        width: 130px;
        font-size: 18px;
        border: none;
        height: 45px;
        background-color: $btnColor;
        color: $underHead;
    }
    a {
        color: $underHead;
        margin-left: 95px;
        font-family: $headerFont;
        font-size: 20px;
    }
}

.section_text {
    text-align: center;
    font-family: $headerFont2;
    font-size: 36px;
    font-weight: 600;
    color: $sectionText;
}

.section_card {
    display: flex;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    background-color: $bgCards;
    color: $textCards;
    margin-bottom: 30px;
    max-width: 850px;
    font-family: $headerFont;
    width: 100%;
    &_text {
        display: block;
        max-width: 440px;
        text-align-last: left;
    }
    &_heading {
        font-family: $headerFont2;
        font-weight: 600;
        color: $cardsHeading;
        font-size: 22px;
    }
    &_right_container {
        text-align: center;
        margin-left: 85px;
        max-width: 700px;

        a {
            color: $cardsLink;
        }
    }
}
.footer {
    margin-top: 200px;
    background-color: $bgCards;
    color: $textCards;
    font-family: $headerFont;
    padding-top: 100px;
    padding-bottom: 80px;
    &_logo {
        p {
            color: $textCards;
            font-family: $headerFont;
        }
    }
    &_text {
        max-width: 33%;
    }
    &-wrap {
        margin-top: 70px;
        display: flex;
        //flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
}

.section_banner {
    position: absolute;
    top: $otstup;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 65%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    font-family: $headerFont;
    align-items: center;
    background-image: $bannerColor;
    border-radius: 6px;
    &_heading {
        font-size: 24px;
        font-weight: 700;
        color: $headerColor;
        padding-top: 30px;
    }
    &_text {
        color: $textCards;
        padding-bottom: 30px;
    }
    p {
        margin-left: 100px;
    }
    button {
        font-family: $headerFont;
        width: 130px;
        font-size: 18px;
        border: none;
        height: 45px;
        background-color: $btnColor;
        color: $underHead;
        margin-right: 10%;
    }
}
