$headerFont: "Source Sans Pro", sans-serif;
$bgImg: url("../img/m-h-day.jpg");
$headerColor: #2c2f3c;
$awesome: #19a0c7;
$btnColor: #69991a;
$underHead: white;
$bgCards: #21232e;
$cardsHeading: white;
$cardsLink: #b9c0cd;
$textCards: #9eb2be;
$bannerColor: linear-gradient(to right, #639318, #2f5dcf);
$headerFont2: "Source Sans Pro", sans-serif; //"Fresca", sans-serif;
$bgcolor: none;
$sectionText: black;
$otstup: 258%;
