$headerFont: "Fresca", sans-serif;
$bgImg: url("../img/m-h-night.jpg");
$headerColor: white;
$awesome: #fd4e32;
$btnColor: #e3ac27;
$underHead: white;
$bgCards: #3b3f50; //
$cardsHeading: white; //@warn
$cardsLink: #b9c0cd; //
$textCards: #9eb2be; //
$bannerColor: linear-gradient(to right, #d79a23, #942f50); //
$headerFont2: "Source Sans Pro", sans-serif;
$bgcolor: #21232e;
$sectionText: white;
$otstup: 255%;
